* {
  position: relative;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(189, 212, 207, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.out {
  width: 300px;
  height: 200px;
  padding: 30px;
  padding-top: 10px;
  background-color: #fafbf7;
  border: solid 2px;
  border-radius: 20px;
  border-color: rgba(0, 0, 0, 0.2);
  box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden; 
}
.name {
/*   border: solid 1px; */
  width: 200px;
  heigh: 130px;
  left: 50%;
  transform: translateX(-50%); 
  padding-top: 15px;
  font-size: 50px;
  letter-spacing: 5px;
  font-family: 'Kiwi Maru', serif;
  color: #460022;
  text-align: center;
}
.class {
  width: 300px;
  padding-left: 130px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 10px;
  border-radius: 5px;
  font-size: 19px;
  letter-spacing: 2px;
  font-family: 'Kiwi Maru', serif;
  font-weight: bold;
  color: #004c00;
}
.like {
  width: 400px;
  padding-left: 0px;
  padding-right: 20px;
  padding-top: 3px;
  font-size: 15px;
  letter-spacing: 2px;
  font-family: 'Zen Kurenaido', sans-serif;
  line-height: 27px;
  color: #120063;
}
hr {
  background-color: #94a6d6;
}
.circle {
  border-radius: 100%;
  position: absolute;
}
.circle1 {
  width: 120px;
  height: 120px;
  right: 10px;
  top: 195px;
  background-color: rgba(142, 176, 212, 0.55);
}
.circle2 {
  background-color: #fafbf7;
  width: 70px;
  height: 70px;
  right: 310px;
  top: -30px;
  border: solid 3px rgba(142, 176, 212, 0.55);
}